
/*-=-=-= BREAKPOINTS =-=-=- */
$xs: 320px; //Extra small: old smartphone <350px
$sm: 480px; //Small: standard smartphone 
$md: 780px; //Medium: tablet
$lg: 1024px; //Large: laptop
$xl: 1440px; //Extra large: desktop

/*-=-=-= SEMANTIC COLOR PALETTE =-=-=- */

//## BRAND -> Colors that defines the brand identity
$green-dark: #1d7a4c; //-> Primary actions, accent
$green-mid: #4caf6e;  // -> Borders, shadows, hover states
$green-light:#c9f0b0; //-> light backgrounds

$button-text: rgb(255, 255, 255);

//## SEMANTIC -> Colors that communicates success failure or warnings
$success: rgb(78, 223, 127); //-> Confirmation, modal "container returned"
$error: rgb(229, 62, 62); //-> buttons close/remove
$error-light: rgba(246, 115, 115, 0.5); // -> non destructive actions
$warning: rgb(235, 185, 34); //-> warning messages


//## NEUTRAL -> mainly black and white used for texts
$black: black;
$white: white;
$muted-gray: #6B7280;
$grey-ghost: rgba(128, 128, 128, 0.48);
$btn-back-text: rgb(221, 219, 219);


/*-=-=-= ELEVATION HIERARCHY =-=-=- */
$shadow-sm: 1px 1px 15px 1px rgba(0, 0, 0, 0.15);
$shadow-md: 1px 1px 30px 2px rgba(0, 0, 0, 0.3);
/* $shadow-glow: 1px 1px 15px 2px rgba(2, 247, 137, 0.4); */
$shadow-skeleton: 1px 1px 10px 1px rgba(35, 143, 129, 0.235), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);

/*-=-=-= RADIUS =-=-=- */
$glass-background: rgba(255, 255, 255, 0.14);

$radius-xl: 4rem;
$radius-lg: 3rem;
$radius-md: 2rem;
$radius-sm: 1rem;
$rounded-radius: 50%;

$background:  rgb(249, 249, 249);
/* $container-color: rgba(0, 206, 51, 0.15); */

/*-=-=-= SPACING =-=-=- */
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

$margin: 1rem;
$padding: 1rem;

$buttons-padding: $space-md $space-lg;

//-=-=-= INPUTS =-=-=-

  $input-padding: $space-sm;
  $input-background: $white;
  $input-text:$grey-ghost;
  $input-border:none;
