/*-=-=-= IMPORT BASE MODULES =-=-=- */
@use './base/_variables' as *;
@use './base/reset';
@use './base/mixins' as *;

@use './components/loader';
@use './components/navbar';
@use './components/cart';
@use './components/orders';
@use './components/buttons'as*;

@use './pages/spashPage';
@use './pages/login';
@use './pages/userHome';
@use './pages/producerHome';
@use './pages/successPage';



/*-=-=-= APP BASE STYLE =-=-=- */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-self: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    @include respond (xs) {} //min width (≥ 350px)
    @include respond (sm) {} //min width (≥ 480px)
    @include respond (md) {} //min width (≥ 780px)
    @include respond (lg) {} //min width (≥ 1024px)
    @include respond (xl) {} //min width (≥ 1440px)
    
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin : 0 auto;
    background-color: $background;
}

