@use '../base/variables' as *; 
@use '../base/mixins' as *;

.login-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5rem;
    border: $border;
    border-radius: $radius;
    @include respond (md) {
        max-width: 480px;
        margin: 0.5rem auto;
    }
}

.google-login-container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.input-text, .search-input, .ppc-input {
    min-height: 2.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
  border-radius: 1rem;
  border: $border;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: $box-shadow;
  width: -webkit-fill-available;
}
.search-input{
    margin: 0 !important;
    width: 85%;
}

.input-container--btn{
    display: flex;
  flex-direction: column;
}
.container-title{
    margin: 1rem;
}

.container-subtitle{
    margin: 1rem 0 1rem 0;
}



.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem 0 2rem 0;
}
.input-container-btn{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.label{
justify-content: flex-start;
display: flex;
margin-left: 1rem;
}

.signUp-container{
    display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  background-color: $container-color;
  padding: 1rem;
  border-radius: $radius;
  @include respond (md) {
    max-width: 480px;
    margin: 2rem auto;
  }
}

.signup-img-container{
    margin: 1rem;
}

.signup-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.confirmation-msg{
    margin: 2rem;
  font-size: larger;
  font-weight: bolder;
}
//-_-_-_ REGISTER _-_-_-

.signin-container{
    border: $border;
    border-radius: $radius;
    padding: 1rem;
    margin: 1rem;
    @include respond (md) {
        max-width: 480px;
        margin: 2rem auto;
    }
}

.role-selection-container{
    margin: 1rem;
    background-color: rgba(159, 232, 100, 0.5411764706);
    padding: 1rem;
    border-radius: $radius;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: larger;
    font-weight: 600;
}