@use '../base/variables' as *; 

.login-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10rem 3rem 0 3rem;
    border: 2px solid black;
    border-radius: 2rem;
}

.google-login-container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.input-text {
    min-height: 2.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
  border-radius: 1rem;
  border: 2px solid #e1bdf7;
  padding: 0.5rem;
  background-color: rgb(225, 189, 247);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.24);
  width: -webkit-fill-available;
}

.input-container--btn{
    display: flex;
  flex-direction: column;
}
.container-title{
    margin: 1rem 0 1rem 0;
}

.container-subtitle{
    margin: 1rem 0 1rem 0;
}

.icon-google-login{
    width: auto;
    height: 3rem;
    box-shadow: 1px 1px 20px 1px #0000007a;
    border-radius: 27px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.input-container-btn{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.label{
justify-content: flex-start;
display: flex;
margin-left: 1rem;
}
.icon-show-pwd{
    width: 1rem;
    height: 1rem;
}

.signUp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
    background-color: #00c1c1;
    padding: 1rem;
    border-radius: 24px;  
}

.signup-img-container{
    margin: 1rem;
}

.signup-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
//-_-_-_ REGISTER _-_-_-

.account-icon{
    width: 5rem;
}

.role-selection-container{
    margin: 1rem;
  background-color: rgb(249, 227, 250);
  padding: 1rem;
  border-radius: 8px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}