@use '../base/variables' as *;

.create-product-container {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5rem;
}
.input{
    margin:0.5rem;
    border-radius: 6px;
    border: none;
    padding: 0.25rem;
}

.filters-container{
    display: grid;
  gap: 1rem;
  padding: 0 1em;
}
.product-upd-preview {
    margin: 1rem;
    border-radius: 8px;
    background-color: beige;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.ingredients-grid{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.singleItem{
    padding: 0.5rem;
    border-radius: $radius;
    margin: 1rem;
    box-shadow: 2px 2px 8px 2px white;
    border: $border;
}