@use '../base/variables' as *;
@use '../base/mixins' as *;

.input{
    margin:$space-sm;
    border-radius: $radius-md;
    border: none;
    padding: $space-sm;
    box-shadow: $shadow-sm;
}

.product-upd-preview {
    margin:  $space-md;
    border-radius: $radius-sm;
    background-color: beige;
    padding: $space-sm;
    display: flex;
    flex-direction: column;
    gap: $space-sm;
}

.sub-session-title, .component-title{
    margin: $space-md;
}

.ingredients-grid{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 90vw;
    gap: $space-md;
    margin: $space-lg;
}

.ppc-header{
    display: flex;
    flex-direction: column;
}

.ppc-image {
    border-style: none;
    display: flex;
    align-self: center;
    border-radius: $radius-md;
}