@use '../base/variables' as *;
@use '../base/mixins' as *;

.payment-success, .cancel-payment{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  gap: 2rem;
  align-items: center;
}