@use '../base/variables' as *;
@use '../base/mixins' as *;

.payment-success, .cancel-payment{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $space-sm;
  gap: $space-lg;
  align-items: center;
}