.product-card{
    display: flex;
    flex-direction: row;
    border: none;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 1px 1px 6px 1px white;
    border-bottom: 1px solid white;
}

.product-list{
    margin: 1rem;
}
.product-listed-preview{
    width: 3.5rem;
  align-self: center;
  margin: 0.5rem;
  box-shadow: 1px 1px 10px 1px #265c5c45;
  border-radius: 3rem;
  padding: 0.5rem;
}

.product-details{
    display: flex;
    flex-direction: column;
}

.p-details{
    margin: 0.25rem;
}

.p-unit-details{
    display: flex;
    align-items: center;
}

.card-btn-container{
    display: flex;
  flex-direction: column;
  align-self: center;
  align-items: end;
  gap: 1rem;
  margin: 0.5rem;
}