@use '../base/variables' as *;

.hero-banner{
  margin: 2rem 1rem;
  box-shadow: $box-shadow;
  padding: 1rem;
  border-radius: $radius;
  background-color: white;
}

.hero-tip{
  margin: 1rem 0;
}

.searchbar{
  display: flex;
  align-items: center;
}
.filter-tag-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 0.5rem;
}
.filters-container{
  display: flex;
  gap: 2rem;
  padding: 0 1em;
  flex-direction: column;
  padding: 1rem;
}

.product-card{
    display: flex;
    flex-direction: column;
    border: $border;
    border-radius: 1rem;
    background-color:rgba(154, 157, 49, 0.45);
    box-shadow: 1px 1px 6px 1px white;
    border-bottom: 1px solid white;
}

.research-container{
  margin: 1rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-listed-img{
  margin: 0.5rem;
  box-shadow: 1px 1px 10px 1px rgba(38, 92, 92, 0.2705882353);
  border-radius: 3rem;
  padding: 0.5rem;
}

.card-btn-container{
    display: flex;
  flex-direction: column;
  align-self: center;
  align-items: end;
}

