@use '../base/variables' as *;


.show-pwd-btn, .login-btn {
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-right: 1rem;
    display: flex;
    align-self: flex-end;
    border-radius: 1rem;
    border: 0.1rem solid black;
    padding: 0.25rem;
    background: transparent;
}

.login-btn{
    font-size: larger;
    font-weight: bold;
}
.show-pwd-btn{
    font-size: xx-small;
}

.toogle-login{
    margin: 1rem; 
    border-radius: 1rem;
    border: 0.1rem solid black;
    padding: 0.25rem;
    background: transparent;
    font-size: larger;
    font-weight: 400;
    align-items: center;

}


.btn-google-auth{
    width: fit-content;
    padding: 0.25rem 1rem;
    justify-content: space-evenly;
    display: flex;
    border-radius: 0.5rem;
    margin: 1rem;
    background: transparent;
    border: none;
}

.login-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

/* -_-_-_ UserHome _-_-_- */

.dropdown {
    border: solid 1px blueviolet;
    border-radius: 6px;
    padding: 0.25rem;
    background-color: #ffffff45;
    color:rgb(110, 110, 110);
}

.create-product-btn{
    border: solid 1px blueviolet;
    border-radius: 6px;
    padding: 0.25rem;
    background-color: #ffffff45;
    color:rgb(110, 110, 110);
    margin: 1rem;
    justify-content: end;
}

/* -_-_-_ Cart _-_-_- */

.cart-btn{
    background: transparent;
    border: none;
}


.remove-from-cart-btn{
    background: transparent;
    border: none;

}
.clear-cart-btn {
    background: transparent;
    border: none;
}