@use '../base/variables' as *;
@use '../base/mixins' as *;

.cart-details-container{
  display: flex;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end; 
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.cart-drawer{
  background-color:$background;
  padding: $space-sm;
  box-shadow: $shadow-sm;
  width: 80vw;
  height: 100vh;
  border-radius: 24px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  
  @include respond(md) {
    width: 380px;
  }

  @include respond (lg) {
    width: 430px;
  }

  @include respond (xl) {
    width: 525px;
  }
}
.cart-list{
  padding: $space-sm;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  overflow-y: auto;
}

.cart-items{
  display: flex;
flex-direction: row;
justify-content: space-between;
margin: $space-sm;
padding: $space-md;
border-radius: $radius-md;
box-shadow: $shadow-sm;
background-color: $white;
gap: $space-sm;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-xs;
}

.cart-order-btn-container{
  display: flex;
  margin: 5rem 0 $space-md 0;
  flex-direction: row;
  align-self: flex-end;
}

.cart-total{
position: -webkit-sticky;
position: sticky;
top: 0;
background-color: $white;
padding: $space-sm;
border-radius: $space-lg;
box-shadow: $shadow-sm;
font-size: x-large;
text-align: end;
margin-top: $space-md;
}

.deposit-info{
  background-color: $green-light;
  padding: $space-sm;
  font-weight: normal;
  border-radius: $space-lg;
  color: $green-dark;
  margin: $space-sm 0;
}

.order-total{
  margin: $space-md 0;
  font-weight: normal;
}

.checkout-error-banner{
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: $error-light;
  padding: $space-md;
  border-radius: $radius-md;
  box-shadow: $shadow-md;

  .error-text{
    color: white;
    font-size: x-large;
    font-weight: 600;
  }
  
  @keyframes fadeOut {
    to { 
      opacity: 0; 
      transform: translateX(20px);
      pointer-events: none;
    }
  }
}
