@use '../base/variables' as *;
@use '../base/mixins' as *;

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: flex-end; // drawer from the bottom on mobile
  justify-content: center;
  backdrop-filter: blur(2px);
}

.chat-input-container{
  display: flex;
}

.chat-drawer {
  background-color: $background;
  padding: $space-md;
  top: 0rem;
  box-shadow: $shadow-md;
  border-radius: $space-lg;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  margin: $space-md;
  
  @include respond (md) {
    width: 90%;
  }
}
  
.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
  padding: $space-sm;
  max-height: 40vh;
}

.chat-message-assistant{
  padding: $space-sm;
  background: white;
  width: 80%;
  border-radius: $radius-md;
  line-height: 1.8;
}

.chat-message-user{
  display: flex;
  text-align: end;
  width: 80%;
  align-self: flex-end;
  background-color: $green-dark;
  padding: $space-sm;
  border-radius: $radius-md;
  margin: $space-md 0;
  color: $green-light;
}