@use '../base/variables' as *;

.chat-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    align-items: flex-end; // drawer dal basso su mobile
    justify-content: center;
    backdrop-filter: blur(2px);
  }
  .chat-header{
    background-image: linear-gradient(180deg, #96eec5, #ff00);
  }
  .chat-drawer {
  background-color: $background;
  padding: 1rem;
  top: 0rem;
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.28), inset 0 1px 0 0 rgba(255, 255, 255, 0.21);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  margin: 1rem;
}
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
    padding: 0.5rem;
    max-height: 40vh;
  }

  .chat-message-assistant{
    padding: 0.5rem;
    background: white;
    width: 80%;
    border-radius: $radius;
    line-height: 1.8;
}

.chat-message-user{
    display: flex;
  text-align: end;
  width: 80%;
  align-self: flex-end;
  background-color: $accent;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 1rem 0;
  color: white;
}