@use '../base/mixins' as*;
@use '../base/variables' as*;

.cart-icon,
.order-icon,
.account-logout-icon,
.green-assistant-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.clear-cart-icon,
.confirm-order-icon{
    width: 1.5rem;
    height:1.5rem;
}

.remove-from-cart-icon{
    width: 1.5rem;
}

.packed-product-icon{
    width: $space-lg;
}

.delivering-icon{
    max-width: 90%;
    border-radius: $radius-md;
}

.icon-google-login{
    width: auto;
    height: 3rem;
    border-radius: 27px;
}

.icon-show-pwd{
    width: $space-md;
    height: $space-md;
}

.account-icon{
    width: 5rem;
}

.payment-success-icon, .rejected-payment{
    border-radius: $radius-md;
}