@use '../base/variables' as *;
@use '../base/mixins' as *;

.onboarding-illustration {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: contain;
    margin: $space-md 0;
}

.ingredient-img {
    border-radius: $radius-md;
}

.container-assigned-preview{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: $space-sm;
    background-color: $green-light;
    padding: $space-sm;
    border-radius: $radius-md;
    color: $black;
}

.rejected-payment {
    width: 90vw;
    border-radius: $radius-md;
}