@use '../base/variables' as *;
@use '../base/mixins' as *;

.onboarding-illustration {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: contain;
    margin: 1rem 0;
  }

.ingredient-img {
    border-radius: $radius;
}
.container-assigned-preview{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
    background-color: $accent;
    padding: 0.5rem;
    border-radius: $radius;
    color: white;
}

.rejected-payment {
    width: 90vw;
    border-radius: $radius;
}