@use '../base/variables' as *;
@use '../base/mixins' as *;

.onboarding-illustration {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: contain;
    margin: $space-md 0;
}

.ingredient-img {
    border-radius: $radius-md;
}

.container-assigned-preview {
    position: relative;
    width: fit-content;
}

.container-type-img{
    width: $space-xl;
    display: block;
}

.rejected-payment {
    width: 90vw;
    border-radius: $radius-md;
}

.ppc-image {
    border-style: none;
    display: flex;
    align-self: center;
    border-radius: $radius-md;
}

.prod-order-preview{
    width: 50px;
    height: auto;

    @include respond (md) {
        width: auto;
    }
}