@use '../base/variables' as *;

.navbar{
display: flex;
margin: 0.5rem;
border: 2px solid black;
padding: 0.5rem;
border-radius: 8px;
justify-content: space-between;
}

.PP-image{
    width: 2rem;
    height: auto;

}

.account-logout-icon{
    width: 2rem;
    height: auto;
}