@use '../base/variables' as *;
@use '../base/mixins' as *;

.navbar {
  display: flex;
  flex-direction: column;
  padding: $space-sm;
  border-radius: 0 0 $radius-sm $radius-sm;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $background;
  backdrop-filter: blur(2px);
  box-shadow: $shadow-sm;

  @include respond(md) {
    flex-direction: row;
    align-items: center;
    padding: $space-md $space-lg;
    border-radius: 0 0 $radius-md $radius-md;
  }
}

.account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @include respond(md) {
    flex-direction: row;
    gap: $space-md;
  }
}

.account-name {
  margin: $space-sm;
  font-size: large;

  @include respond(md) {
    font-size: x-large;
    margin: $space-md;
  }
}

.Navbar-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: $space-sm;
  padding: 0.75rem $space-md;
  border-radius: $radius-md;
  margin-top: $space-sm;

  @include respond(md) {
    margin-top: 0;
    gap: $space-md;
    padding: $space-md 1.5rem;
  }
}

.cart-btn-wrapper, .order-btn-wrapper{
  position: relative;
}

.cart-badge, .orders-badge {
  position: absolute;
  top: 0;
  right: -$space-sm;
  background-color: $success;
  border-radius: 100%;
  min-width: 1.5rem;
  min-height: 1.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  color: $white;
}