@use '../base/variables' as *;

.navbar{
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border: 1px solid #d3d2d1;
  padding: 1rem;
  border-radius: 2rem;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #fefdf0f2;
  backdrop-filter: blur (2px);
}
.account-container{
    justify-content: center;
  display: flex;
  flex-direction: column;

}
.account-name{
    margin: 1.5rem;
  font-size: x-large;
}
.PP-image{
    width: 2rem;
    height: auto;
}

.account-logout-icon{
    width: 1.5rem;
    height: auto;
}

.Navbar-btn-container{
    margin-top: 2rem;
    justify-content: space-between;
    background-color: $container-color;
    gap: 1rem;
    display: flex;
    padding: 1.5rem;
    border-radius: $radius;
}