@use '../base/variables' as *;
@use '../base/mixins' as *;

.onboarding-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.onboarding-title {
  margin: $space-md 0;
}

.onboarding-content {
  margin-top: $space-md;
}

.onboarding-step {
  margin: $space-sm $space-md;
}
.onboarding-note{
  margin-top: $space-md;
}
.onboarding-dot :active {
  background-color: black;
}
.onboarding-dot{
  background-color: gray;
}

.onboarding-navigation-container{
  position: absolute;
  bottom: $space-md;
  width: 100%;
  gap:$space-sm;
  display: flex;
  flex-direction: column;
}

.onboarding-nav {
  display: flex;
  justify-content: space-evenly;
}
.onboarding-skip{
  gap: $space-md;
  bottom: $space-sm;
  display: flex;
}

.onboarding-dots {
  display: flex;
  justify-content: center;
  gap: $space-sm;
  margin: $space-md 0;
}
  
.onboarding-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &.active {
    background-color: $black;
  }
}


  .onboarding-steps-container {
    list-style: none;
    width: 100%;
    text-align: left;
  }
  
.onboarding-step {
  margin: 0.75rem 0;
  padding: $space-sm;
  border-radius: $space-sm;
  background-color: $accent;
  list-style: none;
}
  
  
.onboarding-card {
  background-color: rgba(21, 136, 124, 0.75);
  backdrop-filter: blur(2px);
  border-radius: $space-lg;
  padding: 1rem;
  justify-content: center;
  margin: $space-md;
  color: $white;
  font-weight: 500;
  height: 45rem;
  width: 90vw;
  
  @include respond (md) {
    font-size: x-large;
    font-weight: bold;
  }
}
  
.onboarding-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}