// USER ORDER ****
@use '../base/variables' as *;
@use '../base/mixins' as *;


//-=-=-= PRODUCER ORDERS =-=-=-

.container-checkin-btn-container{
  display: flex;
  justify-content: center;
}

//-=-=-= USER ORDERS =-=-=-

.container-return-btn-container{
  display:flex;
  justify-content: center;
}

.success-payment-container{
  display: grid;
  grid-template-columns: (1, 1fr);
  justify-content: center;
  gap: $space-lg;
}
.user-openOrders-container{
  padding:$space-md;
  border: none;
  border-radius: $radius-md;
  margin:$space-md;
}

.user-completedOrders-container{
  background-color: $container-color;
  padding: $space-md;
  border-radius: 20px;
  margin: $space-lg $space-md;
}

.container-assign-btn{
  display: flex;
  flex-direction: column;
  gap: $space-md;

  @include respond (md) {
    flex-direction: row;
  }
}

.ordered-products{
  background-color: $white;
  padding: $space-md;
  border-radius: $radius-sm;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $space-md 0;
  justify-content: space-between;
  gap: $space-md;
  box-shadow: $shadow-sm;

  @include respond (md) {
    flex-direction: row;
  }
}

.order-product-details-container{
  margin-left: $space-sm;
  display: flex;
  flex-direction: column;
}

.order-product-quantity-container{
  display: flex;
  margin: 0 $space-sm 0 $space-sm;
}

.shipped-order-details{
  display: flex;
  flex-direction: column;
}

.packing-list{
  padding: $space-sm;
  background-color: cornsilk;
  box-shadow: $shadow-md;
  border-radius: $radius-sm;
  margin: $space-md 0 0 0;
}

.user-preparingOrders-container{
  margin: $space-md;
}

.user-shippedOrders-container{
  margin: $space-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-md;
}

.single-order-container{
width: 100%;
border-radius: $radius-md;
margin-bottom: $space-md;
padding: $space-md;
display: flex;
flex-direction: column;
}

.order-shipping-gif{
  width: 6rem;
}

.containers-assigned{
  display: flex;
  padding: $space-md;
  flex-direction: row-reverse;
  align-items: center;
  
  @include respond (md) {
    flex-direction: row-reverse;
  }
}

.container-type-img{
  width: $space-xl;
}

.modal-card {
  background-color: rgb(159, 232, 100);
  padding: $space-lg;
  border-radius: $radius-md;
  box-shadow: $shadow-sm;
  max-width: 340px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.modal-emoji {
  font-size: 3rem;
}

.modal-btn {
  background-color: $accent;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: $radius-md;
  font-weight: bold;
  font-size: medium;
  margin-top: $space-sm;
  color: $white;
}

.producer-orders-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
