@use '../base/variables' as*;
@use '../base/mixins' as *;

.my-products-container{
  padding: 0.25rem;
  background-color:#2494867a;
  border-radius: $radius-md;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 45rem;
  overflow-y: scroll;
  width: 100vw;

  @include respond (lg) {
    margin: $space-lg auto;
    padding: $space-lg;
    gap: $space-lg;
    grid-template-columns: repeat(4, 4fr);
  }
}
.producer-product-card{
  display: flex;
  flex-direction: column;
  border-radius: $radius-md;
  margin: $space-sm;
  align-items: center;
  box-shadow: $shadow-md;
  background-color:$white;
}

.prod-qty-buttons{
  padding: 0.25rem;
  display: flex;
  gap: 0.25rem;
}

.ppc-name{
  font-weight: bolder;
}

.edit-btn-container{
  display: flex;
  justify-content: center;
}