@use '../base/variables' as *;
.product-list-container {
    width: 100%;
    padding: $padding;
  }
  
  .singleItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-md;
    padding: $space-sm;
    padding: 0.5rem;
    border-radius: $radius;
    margin: 1rem;
    box-shadow: 2px 2px 8px 2px white;
    border: $border;
    overflow-y: auto;
    height:30rem;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    padding: $space-sm;
    border-radius: $radius;
    border: $border;
    box-shadow: 2px 2px 8px 2px white;
  }

.p-name-details{
    font-size: larger;
    margin-left: 0.5rem;
}

.product-details{
    font-size: small;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
