@use '../base/variables' as*;

.my-products-container{
    margin: 1rem;
  padding: 1rem;
  background-color: #f5f3cf;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.producer-product-card{
display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #fefdf1;
  border-radius: 20px;
  margin: 1rem;
}

.prod-qty-buttons{
    padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}